NEXT_PUBLIC_APP_URL='https://deployment.url'
NEXT_PUBLIC_FLARUM_BASE_URL='https://forum.url/api'
NEXT_PUBLIC_FLARUM_PUBLIC_URL='https://forum.url'
NEXT_PUBLIC_SSG_POST_IDS='["1", "2", "3"]'
FLARUM_API_KEY='****'
FLARUM_API_USER_ID='1234'
